* {
  box-sizing: border-box; }

.container .form {
  background: linear-gradient(30deg, rgba(122, 67, 182, 0.6), rgba(46, 109, 164, 0.3));
  border-radius: 2em;
  margin: 4em auto auto;
  padding: 2em;
  width: 50%; }
  .container .form input {
    border-radius: 1.5em; }
.container .btn-form {
  margin-top: 2em;
  text-align: center; }
  .container .btn-form .btn {
    background: rgba(92, 184, 92, 0.9);
    color: rgba(0, 0, 0, 0.8); }
.container .btn {
  width: 100%;
  border-radius: 3em;
  line-height: 0.5; }
  .container .btn:focus {
    outline-color: transparent; }
    .container .btn:focus:active {
      outline-color: transparent; }

/*# sourceMappingURL=style.css.map */
