.container{
	.form{
		background: linear-gradient(30deg,rgba(#7a43b6,.6),rgba(#2e6da4,.3));
		border-radius: 2em;
		margin: 4em auto auto;
		padding: 2em;
		width: 50%;
		input{
			border-radius: 1.5em;
		}
	}
	.btn-form {
		margin-top: 2em;
		text-align: center;
		.btn{
			background: rgba(#5cb85c,.9);
			color: rgba(#000,.8);
		}
	}
	.btn{
		width: 100%;
		border-radius: 3em;
		line-height: 0.5;
		&:focus{
			outline-color: transparent;
			&:active{
				outline-color: transparent;
			}
		}
	}
}